* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: bisque;
}

div {
    display: flex;
    box-sizing: border-box;
}

#CONT_1 {
    width: 100%;
    height: 35%;

    margin-bottom: 2vh;
}

#CONT_1 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 70%;
}

#CONT_2 {
    width: 100%;
    height: 10%;

    margin-bottom: 2vh;

    align-items: center;
    justify-content: center;
}

#CONT_2 h1 {
    font-size: 15vmin;
}

#CONT_3 {
    width: 100%;
    height: 5%;

    margin-bottom: 2vh;

    background-color: lightgoldenrodyellow;
    
    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#navbar {
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;

    font-size: 3vmin;

    list-style: none;
}

#CONT_4 {
    width: 100%;
    height: 37%;
    
    margin-bottom: 2vh;

    justify-content: space-around;
    align-items: center;
}

.CONT_4_1 {
    width: 45%;
    height: 100%;

    background-color: lightgoldenrodyellow;

    justify-content: space-around;
    align-items: center;
}

.CONT_4_1_1 {
    width: 45%;
    height: 100%;
    flex-direction: column;

    justify-content: space-around;
}

.CONT_4_1_1_Titulo {
    font-size: 6vmin;
}

.CONT_4_1_1_Parrafo {
    font-size: 3vmin;
}

.CONT_4_1_2 {
    width: 45%;
    height: 100%;

    justify-content: space-around;
    align-items: center;
}

.CONT_4_1_2 img {
    width: 100%;
    height: 90%;
}

#CONT_5 {
    width: 100%;
    height: 5%;

    color: white;
    background-color: darkred;
    
    justify-content: center;
    align-items: center;
}