#cont1 {
    width: 100%;
    height: 10%;
}

#cont2 {
    width: 100%;
    height: 5%;
}

#cont3 {
    width: 100%;
    height: 25%;
}

#cont4 {
    width: 100%;
    height: 5%;
}

#cont5 {
    width: 100%;
    height: 25%;
}

#cont6 {
    width: 100%;
    height: 5%;
}

#cont7 {
    width: 100%;
    height: 25%;
}

#titulopagina {
    width: 100%;
    font-size: 3vw;
}